<app-sidebar></app-sidebar>
<main class="main-cont">
    <h2 class="text-center">BIENVENIDO</h2>
    <div class="row justify-content-between">
        <div class="col-6 col-md-4 d-flex justify-content-center mb-4" *ngFor="let movie of movies">
            <section class="cont-movies">
                <article class="movie-card">
                    <img [src]="movie.img" class="movie" width="280" height="420">
                    <div class="movie-actions">
                        <button class="btn-e"><i class="pi pi-eye"></i></button>
                        <button class="btn-p"><i class="pi pi-play"></i></button>
                    </div>
                </article>
            </section>
        </div>
    </div>
</main>