.main-cont {
    margin: 2rem 0;
    overflow: hidden;
}

.cont-movies {
    background: linear-gradient(to bottom, var(--primary) 25%,  var(--third));
    padding: 2rem;
    border-radius: 15px;
    margin: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.cont-movies img {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

.movie-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.movie-actions {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 1.2rem;
}

.btn-d,
.btn-e,
.btn-p {
    border: 0;
    border-radius: 5px;
    padding: 8px 12px;
}

.btn-d {
    background-color: var(--third);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.btn-e {
    background-color: var(--yellow);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.btn-p {
    background-color: var(--red);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}


/* Pantallas para moviles*/
@media (min-width: 330px) and (max-width: 480px) {
    .cont-movies {
        padding: 1rem;
        margin: 1rem;
    }

    .movie {
        width: 130px;
        height: 200px;
    }

    .movie-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .movie-actions {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 0;
        margin-top: 1rem;
    }

    .btn-d,
    .btn-e,
    .btn-p {
        border: 0;
        border-radius: 5px;
        padding: 4px 8px;
    }
}

@media (min-width: 481px) and (max-width: 780px) {
    .cont-movies {
        padding: 1rem;
        margin: 1rem;
    }

    .movie {
        width: 200px;
        height: 300px;
    }

    .movie-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .movie-actions {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-left: 0;
        margin-top: 1rem;
    }

    .btn-d,
    .btn-e,
    .btn-p {
        border: 0;
        border-radius: 5px;
        padding: 4px 8px;
    }
}